/* reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0px;padding:0px;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*end reset*/

body{
    min-height: 1050px;
    background: url(../images/register_bg.jpg)  0px 0px;
}

.header{
     background: #24292e;
     width: 100%;
     height: 50px;
     margin-bottom: 4%;
     display: flex;
}

.header img{
    height: 45px;
    width: 45px;
    padding: 3px;
    padding-left: 5px;
}

h1{
	font-family: 'Exo 2', sans-serif;
	font-weight: 400;
	color: #f0f0f0;
	font-size: 1.5em;
	line-height: 50px;
	margin-left: 1%
}

.main{
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-container{
    width: 30%;
    text-align: center;
}

.title-img{
    background-color: white;
    border-left: 2px solid #24292e;
    border-right: 2px solid #24292e;
    border-bottom: 2px solid #24292e;
}

.title-img img{
    height:60px;
    width:65px;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-top: 10%;
    margin-bottom: 10%;
}

.container-header{
    height: 50px;
    background:#23232e;
    text-align: center;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
}

.register-list{
    align-items: center;
    justify-content: center;
    border-left: 2px solid #24292e;
    border-right: 2px solid #24292e;
    border-bottom: 2px solid #24292e;
    background-color: #fff;
}

input{
    font-size:18px;
    outline: none;
    border: none;
    border-bottom:1px solid #484856;
}

.gender-list{
    display: flex;
    justify-content: center;
    padding-top: 10%;
}

.account-list{
    display: flex;
    justify-content: center;
    padding-top: 10%;
}

.account-list img{
    width: 35px;
    height: 35px;
}

.account-list input{
    width: 80%;
}

.username-list{
    display: flex;
    justify-content: center;
    padding-top: 10%;
}

.username-list img{
    width: 35px;
    height: 35px;
}

.username-list input{
    width:80%;
}

.password-list{
    display: flex;
    justify-content: center;
    padding-top: 10%;
}

.password-list img{
    width: 35px;
    height: 35px;
}

.password-list input{
    width: 80%;
}

.button-end{
    margin-top:10%;
    margin-bottom: 5%;
}

.container-end{
    height: 50px;
    background:#23232e;
    text-align: center;
    -webkit-border-bottom-left-radius: 15px;
    -webkit-border-bottom-right-radius: 15px;
}

.button-end button{
    font-size:15px;
    border-radius:10px;
    border:none;
    background-color: #2ea44f;
    color: #fff;
    padding:5px;
    outline: none;
    padding-left:10px;
    padding-right:10px;
}

.button-end button:hover {
    background-color: #22863a;
}